.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
node_modules
.pnp.*
dist
coverage
.DS_Store

# Generated contract build artifacts
ownables/*.zip
ownables/Cargo.lock
ownables/target/
ownables/*/target/
ownables/*/pkg/
ownables/*/schema/
ownables/*/artifacts/*.wasm
