.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
node_modules
.pnp.*
dist
coverage
.DS_Store

# Generated contract build artifacts
ownables/*/target/
ownables/*/schema/
ownables/*/artifacts/*.wasm
